In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv('Udemy Courses.csv')

In [3]:
df

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments
...,...,...,...,...,...,...,...,...,...,...,...
3677,328960,Your Own Site in 45 Min: The Complete Wordpres...,True,120,1566,29,36,All Levels,4 hours,2015-04-20T22:15:17Z,Web Development
3678,552700,Your Second Course on Piano: Two Handed Playing,True,70,1018,12,22,Beginner Level,5 hours,2015-10-26T20:04:21Z,Musical Instruments
3679,631754,Zend Framework 2: Learn the PHP framework ZF2 ...,True,40,723,130,37,All Levels,6.5 hours,2015-11-11T18:55:45Z,Web Development
3680,1225194,Zoho Books Gestion Financière d'Entreprise pas...,False,Free,229,0,33,All Levels,2 hours,2017-05-26T16:45:55Z,Business Finance
3681,964478,Zombie Apocalypse Photoshop Actions,True,50,12,1,15,All Levels,1.5 hours,2016-09-26T22:19:48Z,Graphic Design

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3682 non-null   int64
 1   course_title         3682 non-null   object
 2   is_paid              3682 non-null   bool
 3   price                3682 non-null   object
 4   num_subscribers      3682 non-null   int64
 5   num_reviews          3682 non-null   int64
 6   num_lectures         3682 non-null   int64
 7   level                3682 non-null   object
 8   content_duration     3682 non-null   object
 9   published_timestamp  3682 non-null   object
 10  subject              3682 non-null   object
dtypes: bool(1), int64(4), object(6)
memory usage: 291.4+ KB

In [5]:
##Splitting the published timestamp into two columns year and month

In [6]:
df['year']=df['published_timestamp'].apply(lambda x:x.split('-')[0])

In [7]:
df['month']=df['published_timestamp'].apply(lambda x:x.split('-')[1])

In [8]:
df=df.drop(['published_timestamp'],axis=1)

##Content_duration needs to be numerical value

In [9]:
df['content_duration'].value_counts()

1 hour       607
1.5 hours    507
2 hours      419
2.5 hours    269
3 hours      248
            ...
8 mins         1
31 hours       1
27 mins        1
29 mins        1
28 mins        1
Name: content_duration, Length: 109, dtype: int64

In [10]:
##Droping row with course duration 0

In [11]:
df=df.drop(df[df['content_duration']=='0'].index,axis=0)

In [12]:
#dropping courses with questions in their duration instead of hours or min
df=df.drop(df[df['content_duration'].str.contains('questions', na=False)==True].index,axis=0)

In [13]:
#converting content_duration to numerical values
#Defining a function for that
def duration(d):
    if d.split(' ')[1]=='hours' or d.split(' ')[1]=='hour':
        d_number=d.split(' ')[0]
    elif d.split(' ')[1]=='mins':
        d_number=round(float(d.split(' ')[0])/60,ndigits=1)
    return d_number

In [14]:
df['content_duration']=df['content_duration'].apply(lambda d:duration(d))

In [15]:
df.content_duration.value_counts()

1       607
1.5     507
2       419
2.5     269
3       248
       ...
27.5      1
47        1
71.5      1
37.5      1
70        1
Name: content_duration, Length: 89, dtype: int64

In [16]:
df.is_paid.value_counts()

True     3367
False     310
Name: is_paid, dtype: int64

In [17]:
#encoding of is_paid
df['is_paid']=df['is_paid'].apply(lambda x:1 if x==True else 0)

In [18]:
df.is_paid.value_counts()

1    3367
0     310
Name: is_paid, dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3677 entries, 0 to 3681
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   course_id         3677 non-null   int64
 1   course_title      3677 non-null   object
 2   is_paid           3677 non-null   int64
 3   price             3677 non-null   object
 4   num_subscribers   3677 non-null   int64
 5   num_reviews       3677 non-null   int64
 6   num_lectures      3677 non-null   int64
 7   level             3677 non-null   object
 8   content_duration  3677 non-null   object
 9   subject           3677 non-null   object
 10  year              3677 non-null   object
 11  month             3677 non-null   object
dtypes: int64(5), object(7)
memory usage: 373.4+ KB

In [20]:
df['price']=df['price'].apply(lambda x:int(0) if x=='Free' else int(x))

In [23]:
df.to_excel("Udemy_courses.xlsx")

In [25]:
df['price'].sum()

242910